doctype html

//- mixins
mixin metaAll( arr )
  each val in arr
    if val[0] === 'http-equiv'
      meta( http-equiv = val[1], content = val[2] )
    else if val[0] === 'name'
      meta( name = val[1], content = val[2] )
    else if val[0] === 'property'
      meta( property = val[1], content = val[2] )
mixin linkAll( arr )
  each val in arr
    link( rel = 'stylesheet', href = val )
mixin jsAll( arr )
  each val in arr
    script( src = val )
mixin bt( id, title, txt = false )
  if txt
    - txt = txt.replace( '→', ' <i class="glyphicon glyphicon-arrow-right"></i> ' )
  if title !== ''
    if block && !txt
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', title = title, value = id )
        block
    else
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', title = title, value = id ) !{txt}
  else
    if block && !txt
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', value = id )
        block
    else
      button.btn.btn-primary.btn-sm.bt-control( type = 'button', value = id ) !{txt}
mixin lb( group, tp, val, txt, ckd )
  if tp === 'cb'
    - type = 'checkbox'
  else
    - type = 'radio'
  - val = val.replace('&amp;','&')
  if ckd
    label.btn.btn-primary #[input( class = group, name = group, type = type, value != val, checked = 'checked' )] #{txt}
  else
    label.btn.btn-primary #[input( class = group, name = group, type = type, value != val )] #{txt}
mixin dlBox(id)
  - setBts = btsArr[id].bts
  - setLbs = btsArr[id].lbs
  input.genre( id = id type = 'checkbox', name = 'genre', checked = 'checked' )
  dl.ct-set
    dt.head: label( for = id )= btsArr[id].str
    dd.body
      if setBts
        each val in setBts
          +bt( val[0], val[1], val[2] )
      if setLbs
        div.btn-group.btn-group-sm( role = 'group', aria-label = '...' )
          each val in setLbs.lb
            +lb( ...val )
          each val in setLbs.bt
            +bt( val[0], val[1], val[2] )
      if block
        block

//- vars, arrays
-
  const
    $title = '汎用テキストコンバータ'
    metas = [
      [ 'http-equiv', 'X-UA-Compatible', 'IE=edge' ],
      [ 'name', 'viewport', 'width=device-width,initial-scale=1' ],
      [ 'http-equiv', 'Content-Language', 'en' ],
      [ 'http-equiv', 'Content-Type', 'text/html; charset=UTF-8" ' ],
      [ 'name', 'twitter:site', '@ichimonji_haji' ],
      [ 'name', 'description', 'テキストに対して色々な変換を行うためのツールです。' ],
      [ 'name', 'twitter:card', 'summary' ],
      [ 'name', 'apple-mobile-web-app-capable', 'yes' ],
      [ 'http-equiv', 'Content-Language', 'ja' ],
      [ 'http-equiv', 'Content-Type', 'text/html; charset=UTF-8' ],
      [ 'http-equiv', 'Content-Script-Type', 'text/javascript' ],
      [ 'http-equiv', 'Content-Style-Type', 'text/css' ],
      [ 'property', 'og:title', $title ],
      [ 'property', 'og:url', 'http://myth.maji.asia/code/' ],
      [ 'property', 'og:description', 'テキストに対して色々な変換を行うためのツールです。' ],
      [ 'property', 'og:image', 'http://myth.maji.asia/figure/aloes.jpg' ],
      [ 'name', 'twitter:image', 'http://myth.maji.asia/figure/aloes.jpg' ],
    ]
    links = [
      'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css',
      'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
      'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css',
      'https://fonts.googleapis.com/css?family=Lato:400,700,900',
      'http://fonts.googleapis.com/earlyaccess/notosansjp.css',
      'css/common.css'
    ]
    scripts = [
      'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js',
      'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
      'js/pinyin.js',
      'js/cjk.js',
      'js/japanese.js',
      'js/common.js'
    ]
    btsArr = {
      'ctset01': {
        'str': 'ケース',
        'bts': [
          ['case-title', '頭文字のみ大文字に', 'TITLE'],
          ['case-upper', '全て大文字に', 'UPPER'],
          ['case-lower', '全て小文字に', 'LOWER'],
          ['case-swap', '大文字小文字を反転', 'SWAP'],
          ['case1', 'シングルクォーテーションをダブルクーテーションに', '\'\'→\"\"'],
          ['case2', 'ダブルクーテーションをシングルクォーテーションに', '\"\"→\'\''],
          ['case3', '文字間のハイフンをアンダーバーに', 'abc-def→abc_def'],
          ['case4', '文字間のアンダーバーをハイフンに', 'abc_def→abc-def'],
          ['case5', 'キャメルケースをハイフンに', 'abcDef→abc-def'],
          ['case6', '文字間のハイフンをキャメルケースに', 'abc-def→abcDef'],
          ['case7', '符号付きラテン文字を標準化', 'Àóṫœ→Aotoe']
        ]
      },
      'ctset02': {
        'str': 'Url/Base64',
        'bts': [
          ['url-encode', 'パーセントエンコード（;/?:@& = +$-_!~*.,()a#\'以外）', 'URL エンコード(軽)'],
          ['url-encode2', 'パーセントエンコード（-_!~*.()a\'以外）', 'URL エンコード(中)'],
          ['url-encode3', 'パーセントエンコード（*+-_./以外）', 'URL エンコード(強)'],
          ['url-decode', 'パーセントでコード（全て）', 'URL デコード'],
          ['b64-encode', 'BASE64 エンコード', 'BASE64 エンコード'],
          ['b64-decode', 'BASE64 デコード', 'BASE64 デコード']
        ]
      },
      'ctset03': {
        'str': 'Unicode関連',
        'bts': [
          ['uni-escape', 'Unicode値でのパーセントエンコード（%u～）', 'エスケープ'],
          ['uni-unescape', 'Unicode値でのパーセントデコード', 'アンエスケープ'],
          ['uniH-escape', 'HTML数値文字参照（\&#x～;）', 'HTMLエスケープ(中)'],
          ['uniH-escape2', '全文字をHTML数値文字参照（\&#x～;）', 'HTMLエスケープ(強)'],
          ['uniH-unescape', '文字参照、実体参照を復号', 'HTMLアンエスケープ'],
          ['uni-escape3', 'HTMLタグ用文字を実体参照化', '[<>\&]の実体参照化'],
          ['uni-escape4', 'UTF32のオーバーフロー分をサロゲートペアに変換', 'UTF-32→UTF-16'],
          ['uni-escape5', 'サロゲートペアをUTF32表記に', 'UTF-16→UTF-32']
        ]
      },
      'ctset04': {
        'str': '数値型/数字',
        'bts': [
          ['num-10_2', '10進数を2進数に', 'Dec→Bin'],
          ['num-2_10', '2進数を10進数に', 'Bin→Dec'],
          ['num-10_16', '10進数を16進数に', 'Dec→Hex'],
          ['num-16_10', '16進数を10進数に', 'Hex→Dec'],
          ['num-2_16', '2進数を16進数に', 'Bin→Hex'],
          ['num-16_2', '16進数を2進数に', 'Hex→Bin'],
          ['num-a_j', 'アラビア数字を漢数字に（桁付き）', '123→百二十三'],
          ['num-a_j2', 'アラビア数字を漢数字に（桁なし）', '123→一二三'],
          ['num-j_a', '漢数字をアラビア数字に', '百二十三→123']
        ],
        'lbs': {
          'lb': [
            ['roman_class', 'rd', 'M', 'M(1~3999)', true],
            ['roman_class', 'rd', 'C1', 'ↀ(1~399999)'],
            ['roman_class', 'rd', 'C2', 'CIↃ(1~399999)']
          ],
          'bt': [
            ['num-a_r', 'アラビア数字をローマ数字に', 'Arabic→Roman'],
            ['num-r_a', 'ローマ数字をアラビア数字に', 'Roman→Arabic']
          ]
        }
      },
      'ctset05': {
        'str': '抽出/排除',
        'lbs': {
          'lb': [
            ['extract_reg', 'cb', 'A-Z', 'ABC'],
            ['extract_reg', 'cb', 'a-z', 'abc'],
            ['extract_reg', 'cb', '0-9', '123'],
            ['extract_reg', 'cb', ' 　 -‏‏ \t\v\u{00A0}\u{1680}​\u{180E}\u{2028}\u{2029}\u{202F}\u{205F}​\u{3000}\u{FEFF}', 'スペース'],
            ['extract_reg', 'cb', '\n\r\f', '改行'],
            ['extract_reg', 'cb', '\.,-|_/', '.,-/|_'],
            ['extract_reg', 'cb', '\?\!&quot;&apos;$%^', '?!\"\'$%^'],
            ['extract_reg', 'cb', '&:;#\\(\\)\\{\\}\\[\\]', '&:;#(){}[]'],
            ['extract_reg', 'cb', '\u{3040}-\u{3096}', 'あ'],
            ['extract_reg', 'cb', '\u{30A0}-\u{30FF}\u{31F0}-\u{31FF}', 'ア'],
            ['extract_reg', 'cb', '々〇〻\u{2E80}-\u{2FDF}\u{3400}-\u{4DBF}\u{4E00}-\u{9FFF}\u{F900}-\u{FAFF}\u{20000}-\u{2A6DF}', '漢'],
            ['extract_reg', 'cb', '\u{3000}-\u{303F}\u{3099}-\u{309F}\u{3200}-\u{33FF}\u{FE10}-\u{FE1F}\u{FF00}-\u{FFEF}', '全角記号']
          ],
          'bt': [
            ['extract', '選択した対象を抽出', '抽出'],
            ['exclude', '選択した対象を排除', '排除']
          ]
        }
      },
      'ctset06': {
        'str': '一括排除',
        'bts': [
          ['newline', '', '全ての改行'],
          ['html', '', 'HTMLタグ'],
          ['space', '', '余分なスペース'],
          ['margin', '', '余分な改行'],
          ['ex_dup1', '', '重複する文字'],
          ['ex_dup2', '', '重複する行'],
          ['ex_dup3', '', '重複する単語']
        ]
      },
      'ctset07': {
        'str': '反転/ソート',
        'bts': [
          ['rev-chara', '', '文字単位で反転'],
          ['rev-line', '', '行単位で反転'],
          ['rev-word', '', '単語単位で反転'],
          ['sort1', '', '行単位で昇順に整列'],
          ['sort2', '', '行単位で降順に整列'],
          ['sort3', '', '文字単位で昇順に整列'],
          ['sort4', '', '文字単位で降順に整列']
        ]
      },
      'ctset08': {
        'str': '重複文字/行列',
        'bts': [
          ['dup1', '重複部分のみ削除', 'ABA→AB'],
          ['dup2', '重複部分を重複したまま抽出', 'ABA→AA'],
          ['dup3', '重複した文字以外を抽出', 'ABA→B'],
          ['dup4', '重複部分を重複させないで抽出', 'ABA→A']
        ],
        'lbs': {
          'lb': [
            ['matrix', 'rd', '\t', 'タブ', true],
            ['matrix', 'rd', '\,', ','],
            ['matrix', 'rd', ' ', 'スペース'],
            ['matrix', 'rd', '', '1文字ずつ']
          ],
          'bt': [
            ['matrix-change', '区切り文字と行を基準に行と列を入れ替え', '行と列を入れ替え']
          ]
        }
      },
      'ctset09': {
        'str': '日本語関連',
        'bts': [
          ['jpn1', '全角ひらがなを全角カタカナに', 'あ→ア'],
          ['jpn2', '全角カタカナを全角ひらがなに', 'ア→あ'],
          ['jpn3', '半角カタカナを全角カタカナに', 'ｱ→ア'],
          ['jpn4', '全角カタカナを半角カタカナに', 'ア→ｱ'],
          ['jpn5', '半角英数字を全角英数字に', 'A1→Ａ１'],
          ['jpn6', '全角英数字を半角英数字に', 'Ａ１→A1'],
          ['jpn7', '新字体を旧字体に（異体字セレクタ分を含まない）', '新字→旧字（中）'],
          ['jpn7b', '新字体を旧字体に（異体字セレクタ分を含む）', '新字→旧字（強）'],
          ['jpn8', '旧字体を新字体に（異体字セレクタ分を含む）', '旧字→新字'],
          ['jpn9', '漢数字を大字に', '一二→壱弐'],
          ['jpna', '大字を漢数字に', '壱弐→一二'],
          ['jpnb', '全角カタカナを訓令式ローマ字表記に', 'トウキョウ→tôkyô'],
          ['jpnc', '全角カタカナをヘボン式ローマ字表記に', 'トウキョウ→tokyo'],
          ['jpnd', 'ヘボン式ローマ字を全角カタカナに', 'tokyo→トキョ']
        ]
      },
      'ctset10': {
        'str': 'CJK関連',
        'bts': [
          ['tocjk1', '日本字体を簡体字に', '日→簡体'],
          ['tocjk2', '日本字体を繁体字に', '日→繁体'],
          ['tocjk3', '簡体字を日本字体に', '簡体→日'],
          ['tocjk4', '繁体字を日本字体に', '繁体→日'],
          ['tocjk5', '簡体字を繁体字に', '簡体→繁体'],
          ['tocjk6', '繁体字を簡体字に', '繁体→簡体'],
          ['tocjk7', '漢字の直後にピンインを追加', 'ピンイン']
        ]
      },
      'ctset11': {
        'str': 'Sanskrit',
        'bts': [
          ['skt1', 'デーヴァナガリーを京都・ハーバード方式に', 'संस्कृत→saMskRta'],
          ['skt2', 'デーヴァナガリーをIASTに', 'संस्कृत→saṃskṛta'],
          ['skt3', '京都・ハーバード方式をデーヴァナガリーに', 'saMskRta→संस्कृत'],
          ['skt4', '京都・ハーバード方式をIASTに', 'saMskRta→saṃskṛta'],
          ['skt5', 'IASTをデーヴァナガリーに', 'saṃskṛta→संस्कृत'],
          ['skt6', 'IASTを京都・ハーバード方式に', 'saṃskṛta→saMskRta']
        ]
      },
      'ctset12': {
        'str': '正規表現'
      },
      'ctset13': {
        'str': '連番生成'
      },
      'ctset14': {
        'str': '左右連結',
        'bts': [
          ['merge1', '左右を上下結合', '上下に結合'],
          ['merge2', '左右を行ごとに結合', '行ごとに結合'],
          ['merge3', '左右を文字ごとに結合', '文字ごとに結合']
        ]
      }
    }
    infos = [
      [
        '「Original Text」欄に変換したいテキストを入れ各種の変換ボタンを押してください。「Converted Text」欄に変換後のテキストが出力されます。',
        '変換後のテキストをさらに変換したい場合は「MOVE」ボタンを押して変換後テキストを「Original Text」欄に移動させてください。',
        '「AUTO MOVE」にチェックを入れると自動で変換後のテキストが「Original Text」欄に移動します。'
      ],
      [
        '「Original Text」欄でテキストを選択したまま各種変換ボタンを押すと、その選択範囲にのみ変換が適用されます。',
        '「UNDO」を押す度に変換前の状態に一つずつ戻ります。'
      ]
    ]
    notices = [
      [
        'アラビア数字をローマ数字に関して、ↀ型の場合の100000である「ↈ（&amp;#x2188;）」はほとんどのフォントで表示が不可能です。',
        'アラビア数字から漢数字の変換（桁付き）に関して、少数の桁（分、厘、毛など）に関しては考慮せず数字のみを列記する方式にしております。',
        '日本字体、簡体字、繁体字の相互変換に関して、変換候補が複数ある場合、「（A|B|C）」といった形式で表示します。',
        'ピンイン表記追加に関して、ピンインは「[A/B/C]」といった形式で表示します。',
        '全角カタカナからの訓令式・ヘボン式ローマ字変換に関して、特殊な用法や表外の訓に関しては（99式などに倣った）独自の変換をしています。',
        '新字体→旧字体の変換において旧字が別字として存在しない、あるいはUTF16範囲にない場合は異体字セレクタによって旧字体を表示します。'
      ],
      [
        'CJK変換に関してはまだ実用段階ではなく試用運転です。一部の文字の簡体字化、繁体字化が再現されていません。',
        '「符号付きラテン文字を標準化」では結合分音記号も削除します。',
        '「サンスクリット変換」のIAST方式、HK方式の変換では拡張IAST（ISO-15919方式）ではなく元来の方式のためISO-15919方式を正しく変換できません。'
      ]
    ]

html( lang = 'en' )
  head
    title= $title
    meta( charset = 'utf-8' )
    +metaAll( metas )
    link( rel = 'image_src', href = 'http://myth.maji.asia/figure/aloes.jpg' )
    +linkAll( links )
  body
    header.header
      h1.head= $title
    main.main
      div.main-wrap
        section.area-input
          div.area-input-text
            div.form-group
              label( for = 'text-i' ) Original Text #[span#selDisp]
              textarea.form-control#text-i( placeholder = 'Original Text' )
          div.area-input-text
            div.form-group
              label( for= 'text-o' ) Converted Text
              textarea.form-control#text-o( placeholder = 'Converted Text' )
          div.area-input-button
            div#lengthDisp
            div.btn-group-vertical
              +bt( 'move', '変換後テキストを変換前テキストエリアへ移動' ) #[i.glyphicon.glyphicon-chevron-left] MOVE
              +bt( 'delete', 'テキストを一括削除' ) #[i.glyphicon.glyphicon-remove] DELETE
              +bt( 'undo', '一段階前に戻す' ) #[i.glyphicon.glyphicon-undo] UNDO
              label.btn.btn-sm.btn-primary #[input.automove( name = 'automove', type = 'checkbox' )] AUTO MOVE
        section.area-control
          - for( var num = 1; num <= 11; num++)
            +dlBox('ctset' + ('0' + num).slice(-2))
          +dlBox('ctset12')
            div.form-inline
              div.form-group
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary #[input#caps(type = 'checkbox' )] Aa
                  input.form-control( type = 'text', id = 'rep_find', value = '', placeholder = 'Find What' )
                div.input-group.input-group-sm
                  input.form-control( type = 'text', id = 'rep_rep', value = '', placeholder = 'Replace With' )
                  span.input-group-btn
                    button.btn.btn-primary.bt-control( type = 'button' , value = 'replacement' )= 'Replace'
          +dlBox('ctset13')
            div.form-inline
              div.form-group
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary from
                  input.form-control( type = 'text', id = 'mx_start', value = '0', placeholder = 'Start' )
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary to
                  input.form-control( type = 'text', id = 'mx_end', value = '100', placeholder = 'End' )
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary step
                  input.form-control( type = 'text', id = 'mx_step', value = '1', placeholder = 'Step' )
                div.input-group.input-group-sm
                  span.input-group-btn
                    label.btn.btn-primary join
                  input.form-control( type = 'text', id = 'mx_join', value = '\n', placeholder = 'Join' )
                  span.input-group-btn
                    button.btn.btn-primary.bt-control( type = 'button' , value = 'numbering' )= 'Numbering'
          +dlBox('ctset14')
        ul.link-list
          li: a( target='_blank', href='https://codepen.io/ichimonzi/details/ZJWEZQ/' )= 'codepen'
      section.info
        div( lang = 'jp' )
          each val in infos
            p!= val.join('<br>')
        h2 注意
        div( lang = 'jp' )
          each arr in notices
            ul
              each val in arr
                li= val
    +jsAll( scripts )