doctype html

include _mixin
include _data

html( lang = 'en' )
  head
    title= $title
    meta( charset = 'utf-8' )
    +metaAll( metas )
    link( rel = 'image_src', href = 'http://myth.maji.asia/figure/aloes.jpg' )
    +linkAll( links )
  body
    header.header#header
      h1.head= $title
      button.btn.btn-primary( data-toggle = 'modal', data-target = '#help' ) #[i.fa.fa-question-circle( aria-hidden = 'true' )] help
    main.main
      div.main-wrap
        section.area-input
          div.area-input-text
            div.form-group
              label( for = 'text-i' ) Original Text #[span#selDisp]
              textarea.form-control#text-i( placeholder = 'Original Text' )
          div.area-input-text
            div.form-group
              label( for= 'text-o' ) Converted Text
              textarea.form-control#text-o( placeholder = 'Converted Text' )
          div.area-input-button
            div#lengthDisp
            div.btn-group-vertical
              +bt( 'copy', '変換後テキストをクリップボードのコピー' ) #[i.fa.fa-clipboard] COPY
              +bt( 'move', '変換後テキストを変換前テキストエリアへ移動' ) #[i.glyphicon.glyphicon-chevron-left] MOVE
              +bt( 'delete', 'テキストを一括削除' ) #[i.glyphicon.glyphicon-remove] DELETE
              +bt( 'undo', '一段階前に戻す' ) #[i.glyphicon.glyphicon-undo] UNDO
              +bt( 'change', '左右を入れ替え' ) #[i.fa.fa-exchange] REPLACE
              label.btn.btn-sm.btn-primary #[input.automove( name = 'automove', type = 'checkbox' )] AUTO MOVE
        section.area-control
          div.ctLabel.btn-group.btn-group-sm.btn-group-justified
            label.btn.btn-info( for = 'ctGroup_code' ) コード/数値
            label.btn.btn-info( for = 'ctGroup_cont' ) 文字列操作
            label.btn.btn-info( for = 'ctGroup_unit' ) 文字列生成
            label.btn.btn-info( for = 'ctGroup_lang' ) 言語
          each val, key in btsArr
            input.ctGroupRd.hidden( id = key, type = 'radio', name = 'ctGroupRd', checked = 'checked' )
            div.ctGroup
              each val2, key2 in val
                +dlBox(key2, val2)
                  if key2 === 'ctset_tidy'
                    div.form-inline
                      div.form-group
                        div.input-group.input-group-sm.input-group-bt
                          input#td_amount.form-control( value = 20, type = 'number' )
                          div.input-group-btn
                            button.btn.btn-primary.bt-control( type = 'button', value = 'tidy' ) 文字ごとに改行
                        div.input-group.input-group-sm.input-group-bt
                          input#td2_reg.form-control( value = '\\d{2,2}:', type = 'text' )
                          div.input-group-btn
                            button.btn.btn-primary.bt-control( type = 'button', value = 'tidy2' ) ごとに頭出し
                        div.btn-group.btn-group-sm( role = 'group', aria-label = '...' )
                          label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='。', checked = 'checked' )] 。
                          label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='、' )] 、
                          label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='\.' )] .
                          label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='\,' )] ,
                          label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='「」', checked = 'checked' )] 「」
                          label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='（）' )] （）
                          button.btn.btn-primary.btn-sm.bt-control( type = 'button', value = 'tidy3' ) で改行
                    button.btn.btn-primary.bt-control( type = 'button', value = 'tree' )= '列挙パスをツリー化'
                    button.btn.btn-primary.bt-control( type = 'button', value = 'path' )= 'ツリーを列挙パス化'
                  else if key2 === 'ctset_grep'
                    div.form-inline
                      div.form-group
                        div.input-group.input-group-sm
                          span.input-group-btn
                            label.btn.btn-primary #[input#caps(type = 'checkbox' )] Aa
                          input.form-control( type = 'text', id = 'rep_find', value = '', placeholder = 'Find What' )
                        div.input-group.input-group-sm
                          input.form-control( type = 'text', id = 'rep_rep', value = '', placeholder = 'Replace With' )
                          span.input-group-btn
                            button.btn.btn-primary.bt-control( type = 'button', title = '置換' , value = 'replacement' ) 置換
                  else if key2 === 'ctset_ime'
                    button.btn.btn-primary.btn-sm( type = 'button', data-toggle = 'modal', data-target = '#accent')= '符号付き英字'
                    button.btn.btn-primary.btn-sm( type = 'button', data-toggle = 'modal', data-target = '#ligat')= '英合字'
                    button.btn.btn-primary.btn-sm( type = 'button', data-toggle = 'modal', data-target = '#pyin')= 'ピンイン入力'
          ul.link-list
            li: a.btn.btn-primary( data-toggle = 'modal', data-target = '#help' ) #[i.fa.fa-question-circle( aria-hidden = 'true' )] help
            li: a.btn.btn-primary( target='_blank', href='https://github.com/ichimonji/textConvertor' ) #[i.fa.fa-github( aria-hidden = 'true' )] github
      section.section-ime
        div.modal.fade#accent( tabindex = '-1', role = 'dialog' )
          div.modal-dialog( role = 'document' )
            div.modal-content
              div.modal-header
                button.close( type = 'button', data-dismiss = 'modal', aria-label = 'Close' )
                  span( aria-hidden = 'true' ) &times;
                h4.modal-title 符号付き英字
              div.modal-body
                div.alphaDisp#alphaDisp
                div.btn-group.btn-group-sm.btn-col13.btn-group-alpha( role = 'group', aria-label = '...' )
                  button.btn.btn-info.btn-control( type = 'button', value = 'case')= 'Aa'
                  each val in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
                    button.btn.btn-primary.btn-alpha( type = 'button', value = val)= val
                div.btn-group.btn-group-sm.btn-col13#alpha_opt
                button.btn.btn-primary.bt-control( type = 'button', value = 'accent' )= '決定'
      section.section-ime
        div.modal.fade#ligat( tabindex = '-1', role = 'dialog' )
          div.modal-dialog( role = 'document' )
            div.modal-content
              div.modal-header
                button.close( type = 'button', data-dismiss = 'modal', aria-label = 'Close' )
                  span( aria-hidden = 'true' ) &times;
                h4.modal-title 英合字
              div.modal-body
                div.ligatDisp#ligatDisp
                div.btn-group.btn-group-sm.btn-col13.btn-group-ligat( role = 'group', aria-label = '...' )
                  each val in ['ae','ao','au','av','ay','db','dz','ff','ffi','ffl','fi','fl','ft','ij','lb','lj','ng','nj','oe','oo','ou','qp','st','sz','ue','vy']
                    button.btn.btn-primary.btn-ligat( type = 'button', value = val)= val
                div.btn-group.btn-group-sm.btn-col13#ligat_opt
                button.btn.btn-primary.bt-control( type = 'button', value = 'ligature' )= '決定'
      section.section-ime
        div.modal.fade#pyin( tabindex = '-1', role = 'dialog' )
          div.modal-dialog( role = 'document' )
            div.modal-content
              div.modal-header
                button.close( type = 'button', data-dismiss = 'modal', aria-label = 'Close' )
                  span( aria-hidden = 'true' ) &times;
                h4.modal-title ピンイン入力
              div.modal-body
                div.pyinDisp#pyinDisp
                div.btn-group.btn-group-sm.btn-col10.btn-group-pyin( role = 'group', aria-label = '...' )
                  each val in ['a','b','c','ch','d','e','f','g','h','j','k','l','m','n','o','p','q','r','s','sh','t','w','x','y','z','zh']
                    button.btn.btn-primary.btn-pyin( type = 'button', value = val )= val
                div.btn-group.btn-group-sm.btn-col13#pyin_opt
                div.btn-group.btn-group-sm.btn-col13#pyin_opt2
                button.btn.btn-primary.bt-control( type = 'button', value = 'pinyin2' )= '決定'
      section.info
        div.modal.help.fade#help( tabindex = '-1', role = 'dialog' )
          div.modal-dialog( role = 'document' )
            div.modal-content
              div.modal-header
                button.close( type = 'button', data-dismiss = 'modal', aria-label = 'Close' )
                  span( aria-hidden = 'true' ) &times;
                h4.modal-title #{$title} help
              div.modal-body
                include:markdown-it:html-beautify readme.md
              div.modal-footer
                button.btn.btn-default( type = 'button', data-dismiss = 'modal' ) Close
      textarea#forCopy
    footer.footer
      a( href = 'https://twitter.com/ichimonji_haji' ) #[i.fa.fa-twitter] @ichimonji_haji
    +jsAll( scripts )