doctype html

include _mixin
include _data

html( lang = 'en' )
  head
    title= $title
    meta( charset = 'utf-8' )
    +metaAll( metas )
    link( rel = 'image_src', href = 'http://myth.maji.asia/figure/aloes.jpg' )
    +linkAll( links )
  body
    header.header#header
      h1.head= $title
      button.btn.btn-primary( data-toggle = 'modal', data-target = '#help' )= 'help'
    main.main
      div.main-wrap
        section.area-input
          div.area-input-text
            div.form-group
              label( for = 'text-i' ) Original Text #[span#selDisp]
              textarea.form-control#text-i( placeholder = 'Original Text' )
          div.area-input-text
            div.form-group
              label( for= 'text-o' ) Converted Text
              textarea.form-control#text-o( placeholder = 'Converted Text' )
          div.area-input-button
            div#lengthDisp
            div.btn-group-vertical
              +bt( 'move', '変換後テキストを変換前テキストエリアへ移動' ) #[i.glyphicon.glyphicon-chevron-left] MOVE
              +bt( 'delete', 'テキストを一括削除' ) #[i.glyphicon.glyphicon-remove] DELETE
              +bt( 'undo', '一段階前に戻す' ) #[i.glyphicon.glyphicon-undo] UNDO
              +bt( 'change', '左右を入れ替え' ) #[i.fa.fa-exchange] REPLACE
              label.btn.btn-sm.btn-primary #[input.automove( name = 'automove', type = 'checkbox' )] AUTO MOVE
        section.area-control
          div.ctLabel.btn-group.btn-group-sm.btn-group-justified
            label.btn.btn-info( for = 'ctGroup_code' ) コード/数値型
            label.btn.btn-info( for = 'ctGroup_lang' ) 言語
            label.btn.btn-info( for = 'ctGroup_cont' ) 文字列操作
            label.btn.btn-info( for = 'ctGroup_unit' ) 文字列生成
          input.ctGroupRd.hidden#ctGroup_code( type = 'radio', name = 'ctGroupRd', checked = 'checked' )
          div.ctGroup
            +dlBox('ctset_case')
            +dlBox('ctset_encode')
            +dlBox('ctset_unicode')
            +dlBox('ctset_numeral')
          input.ctGroupRd.hidden#ctGroup_lang( type = 'radio', name = 'ctGroupRd' )
          div.ctGroup
            +dlBox('ctset_number')
            +dlBox('ctset_japan')
            +dlBox('ctset_cjk')
            +dlBox('ctset_skt')
          input.ctGroupRd.hidden#ctGroup_cont( type = 'radio', name = 'ctGroupRd' )
          div.ctGroup
            +dlBox('ctset_extract')
            +dlBox('ctset_extall')
            +dlBox('ctset_reverse')
            +dlBox('ctset_dup')
            +dlBox('ctset_tidy')
              div.form-inline
                div.form-group
                  div.input-group.input-group-sm.input-group-bt
                    input#td_amount.form-control( value = 20, type = 'number' )
                    div.input-group-btn
                      button.btn.btn-primary.bt-control( type = 'button', value = 'tidy' ) 文字ごとに改行
                  div.input-group.input-group-sm.input-group-bt
                    input#td2_reg.form-control( value = '\\d{2,2}:', type = 'text' )
                    div.input-group-btn
                      button.btn.btn-primary.bt-control( type = 'button', value = 'tidy2' ) ごとに頭出し
                div.btn-group.btn-group-sm( role = 'group', aria-label = '...' )
                  label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='。', checked = checked )] 。
                  label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='、' )] 、
                  label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='\.' )] .
                  label.btn.btn-info #[input.tidy3_cb( name = 'tidy3_cb', type = 'checkbox', value='\,' )] ,
                  button.btn.btn-primary.btn-sm.bt-control( type = 'button', value = 'tidy3' ) で改行
              button.btn.btn-primary.bt-control( type = 'button', value = 'tree' )= '列挙パスをツリー化'
              button.btn.btn-primary.bt-control( type = 'button', value = 'path' )= 'ツリーを列挙パス化'
            +dlBox('ctset_grep')
              div.form-inline
                div.form-group
                  div.input-group.input-group-sm
                    span.input-group-btn
                      label.btn.btn-primary #[input#caps(type = 'checkbox' )] Aa
                    input.form-control( type = 'text', id = 'rep_find', value = '', placeholder = 'Find What' )
                  div.input-group.input-group-sm
                    input.form-control( type = 'text', id = 'rep_rep', value = '', placeholder = 'Replace With' )
                    span.input-group-btn
                      button.btn.btn-primary.bt-control( type = 'button', title = '置換' , value = 'replacement' ) 置換
            +dlBox('ctset_side')
          input.ctGroupRd.hidden#ctGroup_unit( type = 'radio', name = 'ctGroupRd' )
          div.ctGroup
            +dlBox('ctset_repeat')
              div.form-inline
                div.form-group
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '文字列' ) str
                    input.form-control#rp_string( type = 'text', value = '', placeholder = '文字列' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '回数' ) times
                    input.form-control#rp_time( type = 'number', value = '100' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = 'ごとに' ) join
                    input.form-control#rp_join( type = 'text', value = '\\n', placeholder = 'Join' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '置換' ) Reg
                    input.form-control#rp_reg( type = 'text', value = '$1: $2', placeholder = 'Reg' )
                  div.input-group.input-group-sm.input-group-bt
                    label.input-group-addon #[input#rp_of( type = 'checkbox', checked = 'checked' )] overflow
                    button.form-control.btn.btn-primary.bt-control( type = 'button', title = 'リピート生成', value = 'repeat' ) 生成
            +dlBox('ctset_numbering')
              div.form-inline
                div.form-group
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '～から' ) from
                    input.form-control#mx_start( type = 'number', value = '0', placeholder = 'Start' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '～まで' ) to
                    input.form-control#mx_end( type = 'number', value = '100', placeholder = 'End' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '～刻みで' ) step
                    input.form-control#mx_step( type = 'number', value = '1', placeholder = 'Step' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = 'ゼロパディング' ) padding
                    input.form-control#mx_padding( type = 'number', value = '3', placeholder = 'Padding' )
                  div.input-group.input-group-sm.input-group-corn
                    label.input-group-addon( title = 'ごとに' ) join
                    input.form-control#mx_join( type = 'text', value = '\\n', placeholder = 'Join' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '置換' ) Reg
                    input.form-control#mx_reg( type = 'text', value = '$1: $2', placeholder = 'Reg' )
                  div.input-group.input-group-sm.input-group-bt
                    label.input-group-addon #[input#mx_of( type = 'checkbox', checked = 'checked' )] overflow
                    button.form-control.btn.btn-primary.bt-control( type = 'button', title = '連番生成', value = 'numbering' ) 生成
            +dlBox('ctset_dating')
              div.form-inline
                div.form-group
                  div.input-group.input-group-sm.input-group-spfull
                    label.input-group-addon( title = '開始日' ) Start
                    input.form-control#dt_start( type = 'date', value = '2017-01-01', placeholder = 'YYYY-MM-DD', pattern = '[0-9\-/]' )
                    label.input-group-addon( title = '終了日' ) End
                    input.form-control#dt_end( type = 'date', value = '2017-12-12', placeholder = 'YYYY-MM-DD', pattern = '[0-9\-/]' )
                  div.input-group.input-group-sm.input-group-sp4
                    label.input-group-addon( title = '～刻みで' ) step
                    input.form-control#dt_step( type = 'number', value = '1', placeholder = 'Step' )
                  div.input-group.input-group-sm.input-group-sp8r.input-group-corn
                    label.input-group-addon( title = '日付タイプ' ) Type
                    input.form-control#dt_reg( type = 'text', value = 'YYYY/MM/DD (d2)', placeholder = 'Type' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = 'ごとに' ) join
                    input.form-control#dt_join( type = 'text', value = '\\n', placeholder = 'Join' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '置換' ) Reg
                    input.form-control#dt_reg2( type = 'text', value = '$1: $2', placeholder = 'Reg' )
                  div.input-group.input-group-sm.input-group-bt
                    label.input-group-addon #[input#dt_of( type = 'checkbox', checked = 'checked' )] overflow
                    button.form-control.btn.btn-primary.bt-control( type = 'button', title = '日付連番生成', value = 'dating' ) 生成
            +dlBox('ctset_listing')
              div.form-inline
                div.form-group
                  div.input-group.input-group-sm.input-group-spfull
                    label.input-group-addon( title = '種類' ) type
                    select.form-control.rz-type( name = 'rz_type' )
                      option( value = 'hkana', selected ) あいう～ん
                      option( value = 'kkana' ) アイウ～ン
                      option( value = 'iroha' ) いろは～ん
                      option( value = 'iroha2' ) イロハ～ン
                      option( value = 'iroha3' ) 以呂波～旡
                      option( value = 'wcjk' ) 日月火～土
                      option( value = 'wen' ) 曜日（英語）
                      option( value = 'wen2' ) 曜日（英語略）
                      option( value = 'men' ) 月（英語）
                      option( value = 'men2' ) 月（英語略）
                      option( value = 'alpha' ) ABC～Z
                      option( value = 'alpha2' ) abc～z
                      option( value = 'eto12' ) 十二支
                      option( value = 'eto10' ) 十干
                      option( value = 'eto60' ) 干支
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '～刻みで' ) step
                    input.form-control#rz_step( type = 'number', value = '1', placeholder = 'Step' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = '～回' ) amount
                    input.form-control#rz_amount( type = 'number', value = '10', placeholder = 'Amount' )
                  div.input-group.input-group-sm
                    label.input-group-addon( title = 'ごとに' ) join
                    input.form-control#rz_join( type = 'text', value = '\\n', placeholder = 'Join' )
                  div.input-group.input-group-sm.input-group-corn
                    label.input-group-addon( title = '置換' ) Reg
                    input.form-control#rz_reg( type = 'text', value = '$1: $2', placeholder = 'Reg' )
                  div.input-group.input-group-sm.input-group-bt
                    label.input-group-addon #[input#rz_of( type = 'checkbox', checked = 'checked' )] overflow
                    button.form-control.btn.btn-primary.bt-control( type = 'button', title = '連続データ', value = 'listing' ) 生成
            +dlBox('ctset_ime')
              button.btn.btn-primary.btn-sm( type = 'button', data-toggle = 'modal', data-target = '#accent')= '符号付き英字'
              button.btn.btn-primary.btn-sm( type = 'button', data-toggle = 'modal', data-target = '#ligat')= '英合字'
          ul.link-list
            li: a.btn.btn-primary( data-toggle = 'modal', data-target = '#help' )= 'help'
            li: a.btn.btn-primary( target='_blank', href='https://github.com/ichimonji/textConvertor' )= 'github'
      section.section-ime
        div.modal.fade#accent( tabindex = '-1', role = 'dialog' )
          div.modal-dialog( role = 'document' )
            div.modal-content
              div.modal-header
                button.close( type = 'button', data-dismiss = 'modal', aria-label = 'Close' )
                  span( aria-hidden = 'true' ) &times;
                h4.modal-title 符号付き英字
              div.modal-body
                div.alphaDisp#alphaDisp
                div.btn-group.btn-group-sm.btn-col13.btn-group-alpha( role = 'group', aria-label = '...' )
                  button.btn.btn-info.btn-control( type = 'button', value = 'case')= 'Aa'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'a')= 'a'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'b')= 'b'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'c')= 'c'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'd')= 'd'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'e')= 'e'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'f')= 'f'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'g')= 'g'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'h')= 'h'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'i')= 'i'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'j')= 'j'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'k')= 'k'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'l')= 'l'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'm')= 'm'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'n')= 'n'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'o')= 'o'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'p')= 'p'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'q')= 'q'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'r')= 'r'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 's')= 's'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 't')= 't'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'u')= 'u'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'v')= 'v'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'w')= 'w'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'x')= 'x'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'y')= 'y'
                  button.btn.btn-primary.btn-alpha( type = 'button', value = 'z')= 'z'
                div.btn-group.btn-group-sm.btn-col13#alpha_opt
                button.btn.btn-primary.bt-control( type = 'button', value = 'accent' )= '決定'
      section.section-ime
        div.modal.fade#ligat( tabindex = '-1', role = 'dialog' )
          div.modal-dialog( role = 'document' )
            div.modal-content
              div.modal-header
                button.close( type = 'button', data-dismiss = 'modal', aria-label = 'Close' )
                  span( aria-hidden = 'true' ) &times;
                h4.modal-title 英合字
              div.modal-body
                div.ligatDisp#ligatDisp
                div.btn-group.btn-group-sm.btn-col13.btn-group-ligat( role = 'group', aria-label = '...' )
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ae')= 'ae'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ao')= 'ao'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'au')= 'au'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'av')= 'av'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ay')= 'ay'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'db')= 'db'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'dz')= 'dz'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ff')= 'ff'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ffi')= 'ffi'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ffl')= 'ffl'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'fi')= 'fi'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'fl')= 'fl'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ft')= 'ft'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ij')= 'ij'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'lb')= 'lb'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'lj')= 'lj'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ng')= 'ng'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'nj')= 'nj'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'oe')= 'oe'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'oo')= 'oo'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ou')= 'ou'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'qp')= 'qp'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'st')= 'st'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'sz')= 'sz'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'ue')= 'ue'
                  button.btn.btn-primary.btn-ligat( type = 'button', value = 'vy')= 'vy'
                div.btn-group.btn-group-sm.btn-col13#ligat_opt
                button.btn.btn-primary.bt-control( type = 'button', value = 'ligature' )= '決定'
      section.info
        div.modal.help.fade#help( tabindex = '-1', role = 'dialog' )
          div.modal-dialog( role = 'document' )
            div.modal-content
              div.modal-header
                button.close( type = 'button', data-dismiss = 'modal', aria-label = 'Close' )
                  span( aria-hidden = 'true' ) &times;
                h4.modal-title #{$title} help
              div.modal-body
                include:markdown-it readme.md
              div.modal-footer
                button.btn.btn-default( type = 'button', data-dismiss = 'modal' ) Close
    footer.footer
      a( href = 'https://twitter.com/ichimonji_haji' ) #[i.fa.fa-twitter] @ichimonji_haji
    +jsAll( scripts )